@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&display=swap);
}

@font-face {
  font-family: 'Barlow';
  font-style: bold;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;700&display=swap);
}
