.container-100 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  font-family: 'Barlow', sans-serif;
}

.header {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
}

.column-container {
  flex-basis: 25%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-2rem {
  margin: 2rem;
}

.small-img {
  width: 10rem;
}
