/* modal css; position absolute for overlay */
.hidden {
  display: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* text box css */
.text-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 250px;
  width: 500px;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.modal-button {
  padding: 13px 40px;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: rgb(250, 113, 98);
}

/* main pg css */
.mainpg-button {
  padding: 0.75rem 2rem;
  color: white;
  background-color: rgb(93, 0, 160);
  font-size: 24px;
  border-radius: 6px;
}

.mainpg-button:active {
  transform: translateY(0.25rem);
}
