.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM-Sans", sans-serif;
}

.container-80 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  font-family: "DM-Sans", sans-serif;
  margin: 1rem;
}

.textbox {
  margin: 0.5rem;
}

.font-size {
  font-size: 24px;
}

.highlight {
  background-color: rgba(248, 224, 159, 0.226);
}

.grey {
  color: rgba(165, 165, 165, 0.781);
}

.strikethrough {
  text-decoration: line-through;
}

.img-cont {
  width: 100%;
  background-size: cover;
  height: 15rem;
}

.img-1 {
  background-image: url(images/dress1.jpeg);
}

.img-2 {
  background-image: url(images/ysl-bag.jpeg);
}

.img-3 {
  background-image: url(images/key.jpeg);
}

.img-4 {
  background-image: url(images/lv-bag.jpg);
}

.img-5 {
  background-image: url(images/dress2.jpeg);
}
